#pc {
  margin-left: 8%;
  margin-right: auto;
  width: 92%;

  display: flex;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
}

/* .companion_gif1 {
  width: 100%;
  height: auto;
  margin-left: 50%;
} */
.pcandimg {
  display: flex;
  /* flex-direction: column; */
  align-items: flex-start;
  width: 100%;
}
.pcandimg > *:first-child {
  width: 100%;
  /* align-self: stretch; */
}
.pcandimg > *:nth-child(2) {
  /* position : absolute; */
  width: 20%;
  /* display: flex; */
  /* height: 100%; */
  text-align: center;
}
.pcandimg .selected {
  align-self: center;
}

/* #cprofile {
  display: inline-block;
  align-items: center;
  text-align: center;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;

  font-size: 1vw;
}
#cprofile.p {
  width: 100%;
} */

#ccontainer {
  /* position: fixed; */
  width: 100%;

  margin: auto;
}
.kk {
  margin-bottom: 30px;
}
.kkk {
  margin-bottom: 30px;
  font-size: 40px;
}
.imgg {
  overflow: hidden;
}

.fixed_container {
  text-align: right;
  margin-right: 10vw;
  margin-bottom: -2vw;
}

.c_companion {
  /* margin-left: 170px; */
  position: absolute;
  right: 0;
  margin-right: 80px;
  bottom: 0;
  margin-bottom: 40vh;
}

.inaglance {
  border: 0;
  outline: 0;
  height: 30px;
  font-size: 17px;
}

.inaglance:hover {
  -webkit-transition: all 0.5s ease;
  opacity: 0.7;
}
.exact_product:hover {
  -webkit-transition: all 0.5s ease;
  opacity: 0.7;
}
.checkin {
  position: relative;
  align-items: center;
}

.checkin .labels {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 22px;
  left: 0;
  position: absolute;
  top: 0;
  width: 22px;
}

.checkin .labels:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 4px;
  left: 4px;
  opacity: 0;
  position: absolute;
  top: 7px;
  transform: rotate(-45deg);
  width: 12px;
}

.checkin input[type="checkbox"] {
  visibility: hidden;
}

.checkin input[type="checkbox"]:checked + .labels {
  background-color: #66bb6a;
  border-color: #66bb6a;
}

.checkin input[type="checkbox"]:checked + .labels:after {
  opacity: 1;
}

.checkin :hover {
  -webkit-transition: all 0.5s ease;
  opacity: 0.8;
}

.f_name {
  margin-left: 35px;
  cursor: pointer;
}

.checkboxes {
  cursor: pointer;
}
