.router {
  user-select: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 2vw 9%;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
}

#router-text {
  margin-right: 5px;
}

.hr-line {
  user-select: none;
  display: flex;
  justify-content: flex-start;
  color: rgb(216, 216, 216);
  background-color: rgb(216, 216, 216);
  height: 0.5px;
  width: 82%;
  border: 0;
}

.mv2cat:hover {
  color: #00a900;
  cursor: pointer;
}

.wrap {
  display: flex;
  /* align-items: center; */
  padding: 50px;
}
.img {
  margin-top: 25px;
}
.recbox {
  display: flex;
}
.info {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}
.row1 {
  margin-top: 90px;
  display: flex;
}
.row2 {
  margin-left: 40px;
  margin-top: 60px;
  display: flex;
}
.row3 {
  display: flex;
}
.gotobuy {
  font-size: 20px;
  height: 32px;
  color: transparent;
}
.price {
  font-size: 23px;
  margin-top: -5px;
  margin-right: 20px;
  margin-left: 5px;
  font-weight: bold;
  color: rgb(88, 88, 88);
}
.whole {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding:50px; */
}
/* /* #b {
  background-color: rgba(156, 178, 78, 0.5);
} */
/* #a {
  background-color: rgba(210, 211, 212, 0.5);
} */

.image {
  margin-left: 15px;
  margin-top: 10px;
}
.share {
  margin-top: 37px;
  margin-left: -12px;
}
.buy {
  margin-top: 33px;
}
.recommendations {
  font-size: 30px;
}
.icons {
  margin-top: 5px;
  padding-right: 10px;
  margin-bottom: 5px;
}
.product_img {
  margin-left: 200px;
}
.product_name {
  margin-right: 150px;
  font-weight: normal;
  font-size: 45px;
}

.oone {
  margin-left: 170px;
  margin-bottom: 20px;
}
.one {
  margin-left: 220px;
  margin-bottom: 20px;
}
.two {
  margin-left: 80px;
  margin-bottom: 20px;
}

table {
  border: 1px solid rgba(210, 211, 212, 0.3);
  border-collapse: collapse;
  margin-right: 60px;
}
th,
td {
  border: 1px solid rgba(210, 211, 212, 0.3);
  padding: 10px;
}
#green1 {
  background-color: rgba(208, 230, 128, 0.1);
}

#notgreen {
}

#factors {
  background-color: rgba(205, 206, 204, 0.15);
}

.first_col {
  padding-right: 40px;
  padding-left: 30px;
  width: 120px;
}
.second_col {
  padding-right: 40px;
  padding-left: 30px;
  width: 250px;
}
.third_col {
  padding-right: 40px;
  padding-left: 30px;
  width: 250px;
}
table {
  margin-bottom: 60px;
}
.table3 {
  margin-left: -50px;
}
.heart:hover {
  opacity: 0.5;
}
.share:hover {
  opacity: 0.5;
}

.buy:hover {
  opacity: 0.5;
}

.one:hover {
  -webkit-transition: all 0.5s ease;
  opacity: 0.6;
}

.two:hover {
  -webkit-transition: all 0.5s ease;
  opacity: 0.6;
}

.oone:hover {
  -webkit-transition: all 0.5s ease;
  opacity: 0.6;
}

.contents1 {
  pointer-events: none;
  position: absolute;
  opacity: 0;
  width: 300px;
  margin-left: -80px;
  margin-top: 120px;
  padding-right: 18px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
}
.contents2 {
  pointer-events: none;
  position: absolute;
  opacity: 0;
  width: 300px;
  margin-left: -80px;
  margin-top: 120px;
  padding-right: 18px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
}

.feature1 {
  user-select: none;
  margin-right: 20px;
  padding-top: 10px;
  width: 110px;
  height: 100px;
  align-items: center;
  text-align: center;
  border-radius: 60px;
  border: solid 7px rgba(210, 211, 212, 0.5);
  /* background-color: rgba(210, 211, 212, 0.5); */
  opacity: 0.2;
}
.feature1:hover > .contents1 {
  -webkit-transition: all 0.8s ease;
  opacity: 1;
  background-color: rgba(139, 139, 139, 0.05);
  color: rgb(87, 87, 87);
}
.feature1:hover {
  cursor: default;
  border: solid 7px rgba(210, 211, 212, 1);
  opacity: 1;
}

.feature2 {
  user-select: none;
  margin-right: 20px;
  padding-top: 10px;
  width: 110px;
  height: 100px;
  align-items: center;
  text-align: center;
  border-radius: 60px;
  border: solid 7px rgba(156, 178, 78, 0.5);
}
.feature2:hover > .contents2 {
  -webkit-transition: all 0.8s ease;
  opacity: 1;
  background-color: rgba(176, 185, 141, 0.05);
  color: rgb(87, 87, 87);
}
.feature2:hover {
  cursor: default;
  border: solid 7px rgb(114, 133, 47);
}
.d_companion {
  /* margin-left: 170px; */
  position: absolute;
  right: 0;
  margin-right: 80px;
  bottom: 0;
  margin-bottom: 40vh;
  display: flex;
  flex-direction: column;
}
.d_companion_gif {
  position: fixed;
  height: 22vw;
  margin-left: -15%;
}
.text{
  width: 200px;
  padding: 10px;
  position: fixed;
  margin-left: 175vh;
  bottom: 0;
  margin-bottom: 37vh;
  background-color: rgb(248, 245, 240);
  border-radius: 5px;
  border: solid 4px rgb(236, 229, 213);
}
.heartHome{
  /* background-color: #00a900; */
  width:70px;
  height:70px;
}
.icon1{
  display: flex;
  flex-direction: column;
  /* background-color: brown; */
}
.icon2{
  display: flex;
}
.space{
  width: 25px;
}
.space2{
  width: 15px;
}
.space3{
  height: 10px;
}
.hearta{
  border-radius: 6px;
  background-color: rgb(202, 200, 200);
  opacity: 0.8;
  width: 40px;
  margin-left: 30px;
  font-size: 10px;
  text-align: center;
  margin-top: 5px;
}

.sharea{
  border-radius: 6px;
  background-color: rgb(202, 200, 200);
  opacity: 0.8;
  width: 40px;
  font-size: 10px;
  text-align: center;
  margin-left: -15px;
}
.sharec{
  border-radius: 6px;
  background-color:rgb(230, 230, 230);
  height: 22px;
  font-size: 15px;
  text-align: center;
  margin-left: 13px;
  color: black;
  padding: 3px;
}
.buya{
  border-radius: 6px;
  background-color: rgb(202, 200, 200);
  opacity: 0.8;
  width: 35px;
  font-size: 10px;
  text-align: center;
  margin-top: 5px;
}
.shareContainer{
  display: flex;
  flex-direction: row;
}
#a1,#a2,#a3,#a4,#a5,#a6,#a7{
  width: 250px;
  position: fixed;
  bottom: 0;
  visibility: hidden;
}
#a1{
  margin-left: 175vh;
  margin-bottom: 35vh;
}
#a2{
  margin-left: 175vh;
  margin-bottom: 35vh;
}
#a3{
  margin-left: 175vh;
  margin-bottom: 25vh;
}
#a4{
  margin-left: 175vh;
  margin-bottom: 27vh;
  height: 80px;
  width: 250px;
}
#a5{
  margin-left: 176vh;
  margin-bottom: 26vh;
}
#a6{
  margin-left: 175vh;
  margin-bottom: 27vh;
}
#a7{
  margin-left: 175vh;
  margin-bottom: 35vh;
}

