.overlayBox {
  position: fixed;
  width: 50%;
  height: 2vw;
  margin-top: 1%;
  background-color: #e9e1e1;
  opacity: 50%;
  border-radius: 10px;
  margin-left: 25%;
  text-align: center;
  padding-top: 0.5vw;
  font-size: 1.2vw;
}
.container {
  overflow: visible;
}
.background_img {
  position: fixed;
  width: 100%;
  height: 22vw;
  object-fit: cover;
  filter: saturate(70%);
  z-index: -100;
}
.companion {
  text-align: center;
}
.companion_gif {
  position: fixed;
  height: 22vw;
  margin-left: -15%;
}
.wish_container {
  position: fixed;
  justify-content: center;
  align-items: center;
  overflow: visible;
}
.wishlist {
  position: fixed;
  /* display: flex; */
  top: 28vw;
  width: 100%;
  overflow: scroll;
}
.product_img {
  margin-left: 3%;
}
#showwish {
  margin-left: auto;
  margin-right: auto;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
}

.myheart {
  position: absolute;
  margin-top: -50px;
  margin-left: 186px;
}

.myheart__ {
  position: absolute;
  margin-top: -100px;
  margin-left: 186px;
}

.showing {
  position: fixed;
  margin-left: 40vw;
  z-index: 100;
}

.rshowing {
  position: fixed;
  z-index: 100;
}
#showrec {
  margin-left: 14vw;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.emptyWished {
  padding-top: 8vw;
  padding-bottom: 8vw;
  margin-left: 50%;
}
