body {
  margin: 0;
  padding: 0;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: #ffffff;
}

/*css for picture slider*/
.slider {
  width: 100%;
  height: 100%;
  /*max-height: 775px;*/
  object-fit: cover;
  overflow: hidden;
}

.slides {
  width: 500%;
  height: 100%;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

/*css for manual slide navigation*/

.navigation-manual {
  position: absolute;
  width: 100%;
  margin-top: 50%;
  display: flex;
  justify-content: center;
}

.navigation-manual label {
  border: 2px solid #ffffff;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.1);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.navigation-manual label:not(:last-child) {
  margin-right: 20px;
}

.navigation-manual label:hover {
  background: #ffffff;
}

#radio-lr:checked ~ .first {
  margin-left: 0;
}

#radio-kc:checked ~ .first {
  margin-left: -20%;
}

#radio-br:checked ~ .first {
  margin-left: -40%;
}

#radio-mr:checked ~ .first {
  margin-left: -60%;
}

#radio-lr:checked ~ .navigation-manual .manual-btn-lr {
  background: #ffffff;
}

#radio-kc:checked ~ .navigation-manual .manual-btn-kc {
  background: #ffffff;
}

#radio-br:checked ~ .navigation-manual .manual-btn-br {
  background: #ffffff;
}

#radio-mr:checked ~ .navigation-manual .manual-btn-mr {
  background: #ffffff;
}

/*companion state*/
.companion-mainpage {
  position: absolute;
  margin-top: 35.8%;
  display: flex;
}

.companion-mp {
  position: absolute;
  height: 18vw;
  margin-left: 18vw;
  cursor: pointer;
}

.bottom {
  width: 100%;
  text-align: center;
}

.left-arrow {
  display: flex;
  position: fixed;
  top: 27.5vw;
  left: 25px;
  height: 50px;
  width: 50px;
  justify-content: center;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
  align-items: center;
  transition: transform ease-in 0.1s;
}

.left-arrow:hover {
  transform: scale(1.1);
}

.left-arrow img {
  transform: translateX(-2px);
}

.left-arrow img:focus {
  outline: 0;
}

.right-arrow {
  display: flex;
  position: fixed;
  top: 27.5vw;
  right: 25px;
  height: 50px;
  width: 50px;
  justify-content: center;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
  align-items: center;
  transition: transform ease-in 0.1s;
}

.right-arrow:hover {
  transform: scale(1.1);
}

.right-arrow img {
  transform: translateX(2px);
}

.right-arrow img:focus {
  outline: 0;
}

#radio-lr:checked ~ .left-arrow {
  display: none;
}

#radio-mr:checked ~ .right-arrow {
  display: none;
}
