body {
  margin: 0;
  padding: 0;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: #ffffff;
}

/*css for picture slider*/
.slider {
  width: 100%;
  height: 100%;
  /*max-height: 775px;*/
  object-fit: cover;
  overflow: hidden;
}

.slides {
  width: 500%;
  height: 100%;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

/*css for manual slide navigation*/

.navigation-manual {
  position: absolute;
  width: 100%;
  margin-top: 50%;
  display: flex;
  justify-content: center;
}

.navigation-manual label {
  border: 2px solid #00a900;
  background-color: rgba(0, 169, 0, 0.1);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.navigation-manual label:not(:last-child) {
  margin-right: 20px;
}

.navigation-manual label:hover {
  background: #00a900;
}

#radio-lr:checked ~ .first {
  margin-left: 0;
}

#radio-kc:checked ~ .first {
  margin-left: -20%;
}

#radio-br:checked ~ .first {
  margin-left: -40%;
}

#radio-mr:checked ~ .first {
  margin-left: -60%;
}

#radio-lr:checked ~ .navigation-manual .manual-btn-lr {
  background: #00a900;
}

#radio-kc:checked ~ .navigation-manual .manual-btn-kc {
  background: #00a900;
}

#radio-br:checked ~ .navigation-manual .manual-btn-br {
  background: #00a900;
}

#radio-mr:checked ~ .navigation-manual .manual-btn-mr {
  background: #00a900;
}

/*companion state*/
.companion-mainpage {
  position: absolute;
  margin-top: 35.8%;
  display: flex;
}

.companion-mp {
  position: absolute;
  height: 18vw;
  margin-left: 18vw;
  cursor: pointer;
}

.bottom {
  width: 100%;
  text-align: center;
}
