.linkcopy {
  display: flex;
  flex-direction: row;
}
.linkbox {
  border: 2px solid rgb(143, 143, 143);
  margin-left: 5px;
  width: 325px;
  height: 20px;
  display: inline-block;
  padding: 5px;
  border-radius: 5px;
}
.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);
}
.modal button {
  outline: none;
  cursor: pointer;
  border: 0;
}
.modal > section {
  width: 90%;
  max-width: 450px;
  margin: 0 auto;
  border-radius: 0.3rem;
  background-color: #fff;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-show 0.3s;
  overflow: hidden;
}
/* .modal > section > header {
  position: relative;
  padding: 16px 64px 16px 16px;
  background-color: #f1f1f1;
  font-weight: 700;
  align-items: center;
} */
.head {
  display: flex;
  flex-direction: column;
}
.main {
  display: flex;
  flex-direction: column;
}
.space1 {
  height: 30px;
}
.space2 {
  height: 10px;
}
.check {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.close2 {
  position: absolute;
  margin-left: 390px;
  float: right;
  font-size: 21px;
  font-weight: 700;
  color: #999;
  background-color: transparent;
  visibility: hidden;
}
.close1 {
  position: absolute;
  margin-left: 390px;
  float: right;
  font-size: 21px;
  font-weight: 700;
  color: #999;
  background-color: transparent;
}
.confirm {
  font-size: 25px;
  text-align: center;
}
.modal > section > header button {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  color: #999;
  background-color: transparent;
}
.modal > section > main {
  padding: 16px;
  border-bottom: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
}
.modal > section > footer {
  padding: 12px 16px;
  text-align: right;
}
.close {
  padding: 6px 12px;
  color: rgb(9, 37, 23);
  border-radius: 5px;
  font-size: 13px;
  font-weight: bold;
  margin-top: 20px;
  margin-right: 7px;
  float: right;
  font-size: 13px;
  font-weight: bold;
  color: rgb(9, 37, 23);
}
.close :hover {
  -webkit-transition: all 0.5s ease;
  opacity: 0.4;
}
.copybtn {
  padding: 6px 12px;
  color: rgb(9, 37, 23);
  border-radius: 5px;
  font-size: 13px;
  font-weight: bold;
  margin-left: 10px;
}
.copybtn :hover {
  -webkit-transition: all 0.5s ease;
  opacity: 0.4;
}

.modal.openModal {
  display: flex;
  align-items: center;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-bg-show 0.3s;
}
@keyframes modal-show {
  from {
    opacity: 0;
    margin-top: -50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}